<% if @validator.nil? %>
  <td>
    <span class='paragraph font-weight-bold'>
      <%= link_to event.validatorlike.short_name, namespaced_path( 'validator', event.validatorlike ) %>
    </span>
  </td>
<% end -%>
<td>
  <span class='d-inline d-md-none <%= icon_classes %> mr-1'></span>
  <span class='paragraph'>
    <%= event.added? ? 'Added to' : 'Removed from' %>
    active set
  </span>
</td>
<td>  
  <%= link_to event.height, namespaced_path( 'block', event.height ), class: 'technical event-history__block' %>
</td>
