<% content_for :body_class, 'search-failed d-flex flex-column min-vh-100' %>

<div class='flex-grow-1 error-content d-flex justify-content-center align-items-center flex-column'>
  <h1>Nothing Found!</h1>
  <p>We couldn't find anything to show you for that search.</p>
</div>
