---
http_interactions:
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/polkadot/metrics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3999'
      X-Ratelimit-Reset:
      - '1616681791'
    body:
      encoding: UTF-8
      string: '{"status":{"elapsed":5,"timestamp":"2021-03-24T14:16:31.630813186Z"},"data":{"id":"da6a0575-ec95-4c47-855d-5fc6a3e22ada","symbol":"DOT","name":"Polkadot","slug":"polkadot","_internal_temp_agora_id":"06b2065f-b4c4-4932-8737-23226fb73668","market_data":{"price_usd":35.96038137833924,"price_btc":0.0006323081656735889,"price_eth":0.020680921790292257,"volume_last_24_hours":1679686369.16984,"real_volume_last_24_hours":480945689.80195755,"volume_last_24_hours_overstatement_multiple":3.4924657914316617,"percent_change_usd_last_1_hour":0.1473102750362379,"percent_change_usd_last_24_hours":2.8106211926542226,"percent_change_btc_last_24_hours":-0.24915604854334655,"percent_change_eth_last_24_hours":0.9580172150035454,"ohlcv_last_1_hour":{"open":35.91283051282833,"high":35.963914758069976,"low":35.49293651525116,"close":35.95885243354743,"volume":23608513.27178189},"ohlcv_last_24_hour":{"open":35.047458273002185,"high":36.1483428521852,"low":33.406481711664995,"close":35.960381378339235,"volume":605419570.9434428},"last_trade_at":"2021-03-24T14:16:24.843Z"},"marketcap":{"marketcap_dominance_percent":1.8590822946278407,"current_marketcap_usd":32862779810.390236,"y_2050_marketcap_usd":597094552895.4401,"y_plus10_marketcap_usd":99682729002.96889,"liquid_marketcap_usd":38457087040.33014,"realized_marketcap_usd":null,"volume_turnover_last_24_hours_percent":1.2506035345256061},"supply":{"y_2050":16703146221,"y_plus10":2788528534,"liquid":1075800047,"circulating":919304679.1997736,"y_2050_issued_percent":6.440703043402999,"annual_inflation_percent":9.992824252033147,"stock_to_flow":10.007180900800284,"y_plus10_issued_percent":38.579488568360475},"blockchain_stats_24_hours":{"count_of_active_addresses":null,"transaction_volume":null,"adjusted_transaction_volume":null,"adjusted_nvt":null,"median_tx_value":null,"median_tx_fee":null,"count_of_tx":null,"count_of_payments":null,"new_issuance":null,"average_difficulty":null,"kilobytes_added":null,"count_of_blocks_added":null},"market_data_liquidity":{"clearing_prices_to_sell":null,"marketcap":null,"asset_bid_depth":null,"usd_bid_depth":null,"updated_at":"0001-01-01T00:00:00Z"},"all_time_high":{"price":null,"at":null,"days_since":null,"percent_down":null,"breakeven_multiple":null},"cycle_low":{"price":null,"at":null,"percent_up":null,"days_since":null},"token_sale_stats":{"sale_proceeds_usd":null,"sale_start_date":null,"sale_end_date":null,"roi_since_sale_usd_percent":null,"roi_since_sale_btc_percent":null,"roi_since_sale_eth_percent":null},"staking_stats":{"staking_yield_percent":5,"staking_type":null,"staking_minimum":null,"tokens_staked":null,"tokens_staked_percent":null,"real_staking_yield_percent":-4.539227250491162},"mining_stats":{"mining_algo":null,"network_hash_rate":null,"available_on_nicehash_percent":null,"1_hour_attack_cost":null,"24_hours_attack_cost":null,"attack_appeal":null,"mining_revenue_native":null,"mining_revenue_usd":null,"average_difficulty":null},"developer_activity":{"stars":null,"watchers":null,"commits_last_3_months":null,"commits_last_1_year":null,"lines_added_last_3_months":null,"lines_added_last_1_year":null,"lines_deleted_last_3_months":null,"lines_deleted_last_1_year":null},"roi_data":{"percent_change_last_1_week":-0.564967161229514,"percent_change_last_1_month":-4.687771832005941,"percent_change_last_3_months":601.9205599915385,"percent_change_last_1_year":null,"percent_change_btc_last_1_week":2.983429899821348,"percent_change_btc_last_1_month":-9.269015923914093,"percent_change_btc_last_3_months":192.88914874927298,"percent_change_btc_last_1_year":null,"percent_change_eth_last_1_week":4.6915374457684145,"percent_change_eth_last_1_month":-2.0976479171142115,"percent_change_eth_last_3_months":148.18165930254094,"percent_change_eth_last_1_year":null,"percent_change_month_to_date":0.6710049744626297,"percent_change_quarter_to_date":332.8219370347483,"percent_change_year_to_date":332.8219370347483},"roi_by_year":{"2020_usd_percent":null,"2019_usd_percent":null,"2018_usd_percent":null,"2017_usd_percent":null,"2016_usd_percent":null,"2015_usd_percent":null,"2014_usd_percent":null,"2013_usd_percent":null,"2012_usd_percent":null,"2011_usd_percent":null},"risk_metrics":{"sharpe_ratios":{"last_30_days":-0.4187224024778336,"last_90_days":5.107850567286716,"last_1_year":1.6112018022764725,"last_3_years":null},"volatility_stats":{"volatility_last_30_days":0.8345414883536876,"volatility_last_90_days":1.800833213174854,"volatility_last_1_year":2.071758953240074,"volatility_last_3_years":null}},"misc_data":{"private_market_price_usd":80,"vladimir_club_cost":null,"btc_current_normalized_supply_price_usd":null,"btc_y2050_normalized_supply_price_usd":null,"asset_created_at":null,"asset_age_days":null,"categories":["Infrastructure"],"sectors":["Smart
        Contract Platforms"],"tags":[""]},"lend_rates":null,"borrow_rates":null,"loan_data":{"originated_last_24_hours_usd":null,"outstanding_debt_usd":null,"repaid_last_24_hours_usd":null,"collateralized_last_24_hours_usd":null,"collateral_liquidated_last_24_hours_usd":null},"reddit":{"active_user_count":null,"subscribers":null},"on_chain_data":{"txn_count_last_24_hours":null,"transfer_count_last_24_hours":null,"txn_volume_last_24_hours_usd":null,"active_addresses":null,"total_fees_last_24_hours_usd":null,"total_fees_last_24_hours":null,"average_fee_usd":null,"median_fee_usd":null,"average_transfer_value_usd":null,"median_transfer_value_usd":null,"adjusted_nvt":null,"issuance_last_24_hours_usd":null,"issuance_rate":null,"hash_rate":null,"blocks_added_last_24_hours":null,"block_size_bytes_total":null,"block_size_bytes_average":null},"exchange_flows":{"supply_exchange_usd":null,"flow_in_exchange_native_units_inclusive":null,"flow_in_exchange_usd_inclusive":null,"flow_in_exchange_native_units":null,"flow_in_exchange_usd":null,"flow_out_exchange_native_units_inclusive":null,"flow_out_exchange_usd_inclusive":null,"flow_out_exchange_native_units":null,"flow_out_exchange_usd":null},"alert_messages":null}}'
  recorded_at: Wed, 24 Mar 2021 14:16:31 GMT
- request:
    method: get
    uri: http://localhost:2222/validator/138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB?eras_limit=1&sessions_limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":326,"created_at":"2020-10-10T23:11:17.098518Z","updated_at":"2021-02-25T14:54:38.729868Z","started_at_height":1103957,"started_at":"2020-08-11T15:36:18Z","recent_at_height":3943160,"recent_at":"2021-02-25T14:54:06Z","stash_account":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","recent_as_validator_height":3943160,"display_name":"\u0008Figment","uptime":0.9808612440191388,"last_session_sequences":[],"last_era_sequences":[{"id":55496,"era":261,"start_height":3826689,"end_height":3841080,"time":"2021-02-18T11:36:18Z","stash_account":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","controller_account":"13pZ8dj3xK7zm7hsNVNLjQEuxxTZY7vWbbgdrDZiHPmp4Edc","session_accounts":null,"index":77,"total_stake":28002725721075696,"own_stake":1018249380627,"stakers_stake":28001707471695068,"reward_points":620,"commission":100000000,"stakers_count":12}],"delegations":[{"era":71,"validator_stash":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","amount":10000000000},{"era":71,"validator_stash":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","amount":5712062253001297},{"era":71,"validator_stash":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","amount":18575999980000000}]}

'
  recorded_at: Wed, 24 Mar 2021 14:16:31 GMT
- request:
    method: get
    uri: http://localhost:2222/validator/12NEHw7QgwX61xGe9kahhVqMGCi6MY8fq6iBcwNJvj3Y7Nwj?eras_limit=1&sessions_limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":484,"created_at":"2020-12-25T15:37:12.4891[...]
[...]
- request:
    method: get
    uri: http://localhost:2222/system_events/138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB?after
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"height":2939252,"time":"2020-12-17T15:36:18Z","actor":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","kind":"joined_set","data":null},{"height":2965566,"time":"2020-12-19T11:36:18Z","actor":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","kind":"delegation_joined","data":{"stash_accounts":["14V7eV9E45sPayXCzkLE4RwbTWgyv5HWALfZyS8bzhUu6Fny","15ALVm6h6ZSZ2BGsoqzqo95VzoANMmrv3fCFZLtueghPzxyg"]}},{"height":2965566,"time":"2020-12-19T11:36:18Z","actor":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","kind":"delegation_left","data":{"stash_accounts":["15qtQcxJ8Yg3t3gwG9SwXwdpi66RZ8odzjQ55XS1chjkd9UB","12zXNicmbyQ2mEBxwv8yHvzmvdJkWKrShEi2UUoqeyx9FbC6"]}},{"height":2979930,"time":"2020-12-20T11:36:18Z","actor":"138QdRbUTB9eNY94Q4Mj5r39FkgMiyHCAy8UFMNA5gvtrfSB","kind":"delegation_joine[...]
- request:
    method: get
    uri: http://localhost:2222/system_events/12NEHw7QgwX61xGe9kahhVqMGCi6MY8fq6iBcwNJvj3Y7Nwj?after
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"height":3054058,"time":"2020-12-25T15:36:18Z","actor":"12NEHw7QgwX61xGe9kahhVqMGCi6MY8fq6iBcwNJvj3Y7Nwj","kind":"joined_set","data":null},{"height":3054357,"time":"2020-12-25T16:06:12Z","actor":"12NEHw7QgwX61xGe9kahhVqMGCi6MY8fq6iBcwNJvj3Y7Nwj","kind":"active_balance_change_1","data":{"after":19732800000,"before":19607000000,"change":-0.6000000000000001}},{"height":3054639,"time":"2020-12-25T16:34:30Z","actor":"12NEHw7QgwX61xGe9kahhVqMGCi6MY8fq6iBcwNJvj3Y7Nwj","kind":"active_balance_change_1","data":{"after":19799800000,"before":19732800000,"change":-0.30000000000000004}},{"height":3055322,"time":"2020-12-25T17:42:48Z","actor":"12NEHw7QgwX61xGe9kahhVqMGCi6MY8fq6iBcwNJvj3Y7Nwj","kind":"active_balance_change_1","data":{"after":19831000000,"before":19799800000,"change":-0.2}},{"height":3056171,"time":"2020-12-25T19:07:54Z","act[...]
- request:
    method: get
    uri: http://localhost:2222/rewards/14EARDJPoMytBe355sRmtq2pJD99n4rZqAnc2bfkWyrPn1J6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"era":284,"start_height":4154940,"end_height":4169205,"time":"2021-03-13T11:36:18Z","stash_account":"14EARDJPoMytBe355sRmtq2pJD99n4rZqAnc2bfkWyrPn1J6","validator_stash_account":"14ShUZUYUR35RBZW6uVVt1zXDxmSQddkeDdXf1JkMA6P721N","amount":"5046521213","kind":"reward","claimed":true},{"era":285,"start_height":4169205,"end_height":4183433,"time":"2021-03-14T11:36:18Z","stash_account":"14EARDJPoMytBe355sRmtq2pJD99n4rZqAnc2bfkWyrPn1J6","validator_stash_account":"14ShUZUYUR35RBZW6uVVt1zXDxmSQddkeDdXf1JkMA6P721N","amount":"4474787927","kind":"reward","claimed":true},{"era":286,"start_height":4183433,"end_height":4197693,"time":"2021-03-15T11:36:24Z","stash_account":"14EARDJPoMytBe355sRmtq2pJD99n4rZqAnc2bfkWyrPn1J6","validator_stash_account":"14ShUZUYUR35RBZW6uVVt1zXDxmSQddk[...]
