<div class='data-table'>
  <div class='data-table__header'>
    <div class='d-flex justify-content-between align-items-center flex-wrap'>
      <h3 class='data-table__title'>Governance Proposal Activity</h3>
      <%= link_to 'View All', namespaced_path( 'governance_root' ), class: "button-secondary" %>
    </div>
  </div>
  <div>
    <%= render 'cosmoslike/redesign/governance/proposals_table', proposals: @validator.proposals, with_validator: @validator %>
  </div>
</div>
