<%= render_card "Average Block Time", class: "chain-block-times" do %>
  <label>Last <%= block_times.count %> blocks:</label>
  <div class="stat-value technical">
    <%= block_times.avg %> seconds
  </div>

  <label>Past 48 hours:</label>
  <div class="small-average-block-time-chart-container">
    <canvas class="sparkline-chart average-block-time-chart" data-chart="<%= block_intervals.to_json %>"></canvas>
  </div>
<% end %>
