<%= render_card "Delegations", class: "validator-delegations", body_class: "no-padding" do %>
  <% if delegations.any? %>
    <table class="table table-striped delegations">
      <thead>
        <tr role="row">
          <th>Account</th>
          <th>Amount</th>
          <th>Share</th>
        </tr>
      </thead>
      <tbody>
        <% delegations.each do |delegation| %>
          <tr>
            <td class="technical">
              <%= link_to delegation.public_key.truncate(30), coda_chain_account_path(chain, delegation.public_key) %>
            </td>
            <td>
              <%= format_amount(delegation.balance, denom: "coda") %>
            </td>
            <td class="technical">
              <%= coda_delegation_share(delegation.balance, validator.delegated_balance) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="text-empty">Validator does not have any delegations</div>
  <% end %>
<% end %>
