<div class='data-block voting-power-block '>
  <div class="d-flex justify-content-between align-content-center mb-3">
    <h3 class='data-block__title m-0'>Voting Power History</h3>
    <span class='text-label'>All Changes</span>
  </div>
  <div>
    <div class='voting-power-history-chart-container'>
      <canvas class='voting-power-history-chart'></canvas>
      <script>
        App.seed.VOTING_POWER_HISTORY = <%= @chain.namespace::VotingPowerHistoryDecorator.new(@validator).as_json.to_json.html_safe %>
        App.seed.ACTIVE_SET_HISTORY = <%= @chain.namespace::ActiveSetHistoryDecorator.new(@validator).as_json.to_json.html_safe %>
      </script>
    </div>
  </div>
</div>

<div class='data-block'>
  <div class="d-flex justify-content-between align-content-center mb-3">
    <h3 class='data-block__title m-0'>Uptime History</h3>
    <span class='text-label'>Last 48 Hours</span>
  </div>
  <div>
    <div class='uptime-history-last48h-chart-container'>
      <canvas class='uptime-history-last48h-chart'></canvas>
    </div>
    <% current_uptime = round_if_whole((@validator.current_uptime * 100).round(0)) -%>
    <script>
      App.seed.UPTIME_HISTORY = {
        alltime: <%= [].to_json.html_safe || AverageSnapshotDecorator.new(@chain, 'validator-uptime', 'day', nil, @validator).as_json( with_todays_average: true, override_current_time_value: current_uptime ).to_json.html_safe %>,
        last48h: <%= AverageSnapshotDecorator.new(@chain, 'validator-uptime', 'hour', 48, @validator).as_json( override_current_time_value: current_uptime ).to_json.html_safe %>
      }
    </script>
  </div>
</div>
