<div class='data-block lifetime-block'>
  <h3 class='data-block__title'>Lifetime</h3>
  <div class="d-flex justify-content-between">
    <div class="mr-3">
      <p class="text-label m-0">First Seen:</p>
      <p class='stat-value paragraph'>
        <%= @validator.first_seen_at.try(:strftime, '%B %d, %Y at %H:%M %Z') || 'Never' %>
      </p>
    </div>
    <div>
      <p class="text-label m-0">Voting Power Last Updated:</p>
      <p class='stat-value paragraph'>
        <%= @validator.last_updated.try(:strftime, "%B %d, %Y at %H:%M %Z") || 'Never' %>
      </p> 
    </div>
  </div>

</div>
