<header class="network-chain-header mb-3">
  <h1>
    <%= link_to tezos_root_path, class: "secret-link" do %>
      Tezos

      <% if @chain -%>
        <small class='chain-info text-muted'>
          <span class='d-none d-md-inline'>&mdash;</span>
          <%= @chain.name %>
        </small>
      <% end -%>

    <% end %>
  </h1>

  <div class='buttons ml-auto'>
    <% if @chain -%>
      <% if defined? governance_link -%>
        <a class='btn btn-outline-secondary ml-1' href='<%= tezos_governance_root_path %>'>
          <span class='d-none d-md-inline'>Governance</span>
          <span class='d-inline d-md-none'>Gov</span>
        </a>
      <% end -%>
      <% if defined? summary_link -%>
        <a class='ml-1 btn btn-outline-secondary' href='<%= tezos_chain_path %>'>
          <span class='d-none d-md-inline'>Summary</span>
          <span class='d-inline d-md-none fa fa-arrow-circle-up'></span>
        </a>
      <% end -%>
    <% end -%>
  </div>
</header>
