---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/pricemulti?fsyms=ATOM,LPT,KAVA,DOT,XTZ,LUNA,IRIS,CELO,NEAR,AVAX,MINA,ROSE&tsyms=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cryptocompare-Cache-Hit:
      - 'false'
      X-Cryptocompare-Server-Id:
      - ccc-api29
    body:
      encoding: UTF-8
      string: '{"ATOM":{"USD":8.41},"LPT":{"USD":4.748},"KAVA":{"USD":2.456},"DOT":{"USD":18.44},"XTZ":{"USD":3.136},"LUNA":{"USD":0.9226},"IRIS":{"USD":0.06712},"CELO":{"USD":2.914},"NEAR":{"USD":2.533},"AVAX":{"USD":12.86},"ROSE":{"USD":0.06273}}'
  recorded_at: Mon, 25 Jan 2021 12:57:31 GMT
recorded_with: VCR 6.0.0
