---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/pricemulti?fsyms=ATOM,LPT,KAVA,DOT,XTZ,LUNA,IRIS,CELO,NEAR&tsyms=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cryptocompare-Cache-Hit:
      - 'false'
      X-Cryptocompare-Server-Id:
      - ccc-api19
    body:
      encoding: UTF-8
      string: '{"ATOM":{"USD":4.65},"LPT":{"USD":1.595},"KAVA":{"USD":1.615},"DOT":{"USD":4.045},"XTZ":{"USD":1.912},"LUNA":{"USD":0.2914},"IRIS":{"USD":0.04529},"CELO":{"USD":1.629},"NEAR":{"USD":0.6241}}'
  recorded_at: Mon, 02 Nov 2020 15:14:58 GMT
recorded_with: VCR 6.0.0
