---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/pricemulti?fsyms=ATOM,LPT,KAVA,KSM,XTZ,LUNA,IRIS&tsyms=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Cryptocompare-Cache-Hit:
      - 'false'
      Cryptocompare-Server-Id:
      - ccc-api21
    body:
      encoding: UTF-8
      string: '{"ATOM":{"USD":3.92},"LPT":{"USD":2.031},"KAVA":{"USD":2.49},"KSM":{"USD":10.84},"XTZ":{"USD":3.158},"LUNA":{"USD":0.3275},"IRIS":{"USD":0.06993}}'
  recorded_at: Tue, 04 Aug 2020 02:03:58 GMT
recorded_with: VCR 6.0.0
