.home-navbar {
  padding: 77px 1rem 50px;
  background: transparent !important;
  @include media-breakpoint-up(md) {
    padding: 77px 0 50px;
  }
}
.home-navbar__logo {
  width: 146px;
  height: 33px;
}
.home-navbar__figment-logo {
  height: 21px;
}
.home-navbar__container {
  @include media-breakpoint-up(md) {
    align-items: flex-end !important;
  }
}
.home-navbar__collapse {
  flex-grow: initial;
}
.navbar-light .navbar-nav .nav-link {
  color: $primary;
}
