.home-navbar {
  padding: 77px 1rem 50px;
  @include media-breakpoint-up(md) {
    padding: 77px 0 50px;
  }
}
.home-navbar__logo {
  width: 146px;
  height: 33px;
}
.home-navbar__figment-logo {
  width: 133px;
  height: 18px;
}
.home-navbar__container {
  @include media-breakpoint-up(md) {
    align-items: flex-end !important;
  }
}
.home-navbar__collapse {
  flex-grow: initial;
}
.link {
  color: $primary;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
}
.link--about {
  width: 56px;
  @include media-breakpoint-up(lg) {
    max-width: 98px;
    width: 100%;
  }
}
.navbar-light .navbar-nav .nav-link {
  color: $primary;
}
