.delete-modal__content {
  padding-bottom: 70px;
  text-align: center;
}

.delete-modal__name {
  margin-top: 38px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.delete-modal__link {
  text-align: center;
  word-break: break-all;
}
