.network-event-info__content {
  padding: 40px 60px;
  font-size: 98%;
  line-height: 120%;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.messari-link {
  color: #0091EA;
}

.messari-tagline {
  font-size: 70%;
}

.network-event__title {
  font-size: 22px;
  margin-bottom: 0.25em;
}

.network-event__date {
  font-size: 12px;
}

.network-event__footer {
  padding: 20px 40px;
}
