<%= render_card "Height", class: "block-height" do %>
  <% if block.height > 1 %>
    <%= link_to mina_chain_block_path(chain, block.height - 1), class: "text-muted" do %>
      <span class="fas fa-chevron-left"></span>
    <% end %>
  <% end %>

  <span class="large-number technical"><%= block.height %></span>

  <% if block.height < last_block.height %>
    <%= link_to mina_chain_block_path(chain, block.height + 1), class: "text-muted" do %>
      <span class="fas fa-chevron-right"></span>
    <% end %>
  <% end %>
<% end %>
