<div class='data-table'>
  <div class='data-table__header'>
    <h3 class='data-table__title'>SNARK Jobs</h3>
  </div>
  <table class="table snarkers mb-0">
    <thead>
    <tr role="row">
      <th width="60%">Snarker</th>
      <th>Works Performed</th>
      <th>Fee</th>
    </tr>
    </thead>
    <tbody>
    <% if snark_jobs.any? %>
      <% snark_jobs.each do |job| %>
        <tr>
          <td><%= link_to job.prover.truncate(40), mina_chain_account_path(@chain, job.prover) %>
          <td><%= job.works_count %></td>
          <td>
              <span data-toggle="tooltip" data-tooltip-side="right" title="<%= format_amount job.fee, precision: @chain.class::DEFAULT_TOKEN_FACTOR %>">
                <%= format_amount job.fee, precision: 5 %>
              </span>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan='3' class='data-table__empty'>
          No SNARK jobs in this block
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
