<div class='mb-4'>
  <h3 class='data-block__title'>Timestamp</h3>
  <span class="data-block__value"><%= block.time.strftime("%Y-%m-%d @ %H:%M %Z") %></span>
  <small class="text-muted d-block">
    <%= time_ago_in_words(block.time, true) %> ago
  </small>
</div>
