<div class='data-block'>
  <h3 class='data-block__title'>Commission</h3>
  <div class="d-flex align align-items-center">
    <span class='data-block__large-number technical'><%= round_if_whole(commission) %>%</span>
  </div>
</div>
