<div class='card'>
  <h5 class='card-header'>Average Block Time</h5>
  <div class='card-body'>
    <label>Last blocks:</label>
    <div class='stat-value technical'>
      <%= average_block_time.round(2) %> seconds
    </div>

    <label>Past 48 hours:</label>
    <div class='average-block-time-chart-container'>
      <canvas
        class='average-block-time-chart'
        data-chart="<%= blocks_summary.to_json %>"
      >
      </canvas>
    </div>
  </div>
</div>
