---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/pricemulti?fsyms=ATOM,LPT,KAVA,DOT,XTZ,LUNA,IRIS,CELO,NEAR,AVAX,MINA,ROSE&tsyms=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Cryptocompare-Cache-Hit:
      - 'false'
      X-Cryptocompare-Server-Id:
      - ccc-api09
    body:
      encoding: UTF-8
      string: '{"ATOM":{"USD":8.115},"LPT":{"USD":2.914},"KAVA":{"USD":2.257},"DOT":{"USD":16.01},"XTZ":{"USD":2.822},"LUNA":{"USD":1.539},"IRIS":{"USD":0.06335},"CELO":{"USD":2.821},"NEAR":{"USD":2.156},"AVAX":{"USD":12.88},"ROSE":{"USD":0.05708}}'
  recorded_at: Mon, 01 Feb 2021 13:34:19 GMT
recorded_with: VCR 6.0.0
