<%= render_card "Balance", class: "account-balance" do %>
  <div class="large-number">
    <%= format_amount(account.balance, denom: "coda") %>
  </div>

  <% if account.delegate %>
    <label>Delegated Balance</label>
    <div class="stat-value">
      N/A
    </div>
  <% else %>
    <label>Not delegating stake</label>
  <% end %>
<% end %>
