<%= render_card "Block Production", class: "validator-blocks" do %>
  <label class="text-muted">Last <%= blocks.size %></label>
  <div class="block-heatmap-container">
    <div class="block-heatmap validator-blocks-heatmap">
      <% blocks.each do |block| %>
        <%= link_to "", namespaced_path("block", block.height),
          class: "block #{block.producer?(account) ? "proposed" : "ok"}",
          title: mina_block_heatmap_title(block, account)
        %>
      <% end %>
    </div>
  </div>
<% end %>
