<div class='data-table validator-delegations'>
  <div class='data-table__header'>
    <h3 class='data-table__title'>Delegations</h3>
  </div>
  <table class="table delegations m-0">
    <thead>
    <tr role="row">
      <th>Account</th>
      <th>Amount</th>
      <th>Share</th>
    </tr>
    </thead>
    <tbody>
    <% if delegations.any? %>
      <% delegations.each do |delegation| %>
        <tr>
          <td class="technical">
            <%= link_to delegation.public_key.truncate(20), mina_chain_account_path(chain, delegation.public_key) %>
          </td>
          <td>
            <%= format_amount(delegation.balance) %>
          </td>
          <td class="technical">
            <%= mina_delegation_share(delegation.balance, validator.stake) %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan='3' class='data-table__empty'>
        Validator does not have any delegations
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

