<div class="validator-ledger">
  <button class="btn btn-lg btn-primary delegate-button" data-toggle="modal" data-target="#delegation-modal">Stake Now</button>
  <p class="mt-1 mb-0 text-muted text-sm">
    With your Ledger Nano S<br/>on Brave, Chrome, or Opera.
  </p>
</div>
