<div class='data-block validator-lifetime'>
  <h3 class='data-block__title'>Lifetime</h3>
  <div class='d-flex flex-wrap'>
    <div class='mr-5'>
      <label class='text-label m-0'>First Seen</label>
      <div class="stat-value paragraph m-0 mt-1">
        <%= validator.start_time.try(:strftime, "%B %d, %Y at %H:%M %Z") || "N/A" %>
      </div>
    </div>
    <div class='mr-5'>
      <label class='text-label m-0'>Last Seen</label>
      <div class="stat-value paragraph m-0 mt-1">
        <%= validator.last_time.try(:strftime, "%B %d, %Y at %H:%M %Z") || "N/A" %>
      </div>
    </div>
    <div>
      <label class='text-label m-0'>Blocks Produced</label>
      <div class="stat-value paragraph m-0 mt-1">
        <%= validator.blocks_created %>
      </div>
    </div>
  </div>
</div>
