<div class='data-block validator-staking'>
  <h3 class='data-block__title'>Staking Balance</h3>
  <div class='d-flex flex-wrap align-items-end justify-content-between'>
    <div class="data-block__large-number mr-4">
      <%= format_amount(validator.stake) %>
    </div>

    <div>
      <div class='data-block__value'>
        <%= mina_validator_power(validator.stake, total) %>
      </div>
      <label class='d-block text-label m-0 mt-1'>of validator pool</label>
    </div>

    <div>
      <div class='data-block__value'>
        <%= validator.delegations %>
      </div>
      <label class='d-block text-label m-0 mt-1'>Delegations</label>
    </div>
  </div>
</div>
