<%= render_card "Staking Balance", class: "validator-staking" do %>
  <div class="large-number">
    <%= format_amount(account.balance, denom: "mina") %>
  </div>

  <label>Voting Power</label>
    <div class="stat-value">
    <%= mina_validator_power(account.balance, total) %>
  </div>
<% end %>
