<div class='data-block'>
  <h3 class='data-block__title'>Current Block</h3>
  <% if block %>
    <div class='large-number'>
      <span class='technical'><%= link_to block.id, near_chain_block_path(@chain, block.id) %></span>
    </div>
    <div class='sub-info'>
      <small class='text-muted'>
        <%= block.time.strftime('%Y-%m-%d %H:%M:%S %Z') %>
      </small>
      <small class='text-muted'>
        <%= time_ago_in_words(block.time, true) %> ago
      </small>
    </div>
  <% else %>
    <span class='text-muted'>Unavailable</span>
  <% end %>

  <div class="row f-wrap justify-content-between">
    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-6  mt-4">
      <p class="text-small m-0">Common Pool</p>
      <p class="data-block__value m-0 word-break">
        <%= format_amount(staked_amount, denom: 'near', precision: 0, hide_units: true, in_millions: true ) %>
      </p>
    </div>
  </div>
</div>
