<div class="data-block">
  <h3 class="data-block__title">Block Production</h3>
  <label class="text-muted">Last 50</label>
  <div class="block-heatmap-container">
    <div class="block-heatmap validator-blocks-heatmap">
      <% blocks.reverse.each do |block| producer = block.producer == account_id %>
        <a
          class="block <%= producer ? "proposed" : "ok" %>"
          title="Block <%= block.height %> <span class='fas fa-arrow-right text-sm text-muted mx-2'></span> <span class='badge badge-success'><%= producer ? "PRODUCER" : "OK" %></span>">
        </a>
      <% end %>
    </div>
  </div>
</div>
