<div class="card">
  <h5 class="card-header">Staking Balance</h5>
  <div class="card-body">
    <div class="large-number">
      <%= format_amount(account.staking_balance, denom: 'near') %>
    </div>
  </div>
</div>
