<% content_for :body_class, 'report-new' %>

<div class='row'>
  <div class='col-12'>
    <h2 class='header text-center d-block'>Generate a report</h2>
  </div>
</div>

<div class='row clearfix mt-2 pt-3 justify-content-md-center'>
  <div class='col-12 col-md-6'>
    <div class='report-form'>
      <form action='<%= url_for(action: :show) %>' autocomplete='off'>
        <div class='card'>
          <h5 class='card-header'>Delegator List Report</h5>
          <div class='card-body'>
            <fieldset class='range-type-group form-group'>
              <label class='d-block'>Range type</label>
              <div class='btn-group btn-group-toggle' data-toggle='buttons'>
                <label class='btn btn-outline-secondary active'>
                  <input id='round-range' name='range_type' type='radio' value='round' checked> Round
                </label>
                <label class='btn btn-outline-secondary'>
                  <input id='date-range' name='range_type' type='radio' value='date'> Date range
                </label>
              </div>
            </fieldset>

            <fieldset class='round-range-group'>
              <div class='form-group'>
                <label for='round-number'>Round number</label>
                <select class='form-control' id='round-number' name='round_number'>
                  <%= options_for_select(@round_numbers) %>
                </select>
              </div>
            </fieldset>

            <fieldset class='date-range-group d-none' disabled>
              <div class='form-row'>
                <div class='form-group col'>
                  <label for='start-date'>Start date</label>
                  <input class='form-control' id='start-date' name='start_date' type='date' required>
                </div>
                <div class='form-group col'>
                  <label for='end-date'>End date</label>
                  <input class='form-control' id='end-date' name='end_date' type='date' required>
                </div>
              </div>
            </fieldset>
          </div>
        </div>

        <div class='text-center'>
          <button type='submit' class='btn btn-primary'>Generate</button>
        </div>
      </form>
    </div>
  </div>
</div>
