<%= link_to namespaced_path("#{subscription.alertable.chain.alertable_type}_subscriptions", subscription.alertable, chain: subscription.alertable.chain), class: 'd-block' do %>
  <%= subscription.alertable.short_name(30) -%>
<% end %>

<div class='sub-info'>
  <small>
    <span class='text-muted'>Last notified:</span>
    <span class='d-block d-md-inline'>
      <% if subscription.instant_count + subscription.daily_count > 0 -%>
        <%= [subscription.last_instant_at, subscription.last_daily_at].compact.max.strftime("%b %-d, %Y @ %H:%M") %>
      <% else -%>
        Never
      <% end -%>
    </span>
    <span class='text-muted'>(<%= subscription.instant_count + subscription.daily_count %> total)</span>
  </small>
</div>
