<div class="data-table delegations-count-table">
  <div class="data-table__header d-flex align-items-center justify-content-between">
    <h3 class='data-table__title'>Delegations</h3>
  </div>

  <table class="table mb-0">
    <thead>
      <tr role="row">
        <th>Status</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% if delegation_summary.empty? %>
        <tr>
          <td colspan='6' class='data-table__empty'>
            Delegation Statistics are currently unavailable for this validator
          </td>
        </tr>
      <% else %>
        <% display_states = %w(DELEGATED ACCEPTED UNDELEGATION_REQUESTED) %>
        <% display_states.each do |state| %>
          <tr>
            <td>
              <%= state.titleize %>
            </td>
            <td>
              <%= format_amount(lookup_delegation(delegation_summary)[state],  denom: @chain.class::DEFAULT_TOKEN_REMOTE) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
