<div class='delegation-step step-complete text-center p-5'>
  <h3>Success</h3>
  <p>Delegation successfully submitted!</p>
  <p>In a couple of minutes it'll be available under this link:</p>
  <div class='p-4 text-center'>
    <%= link_to 'View Delegation', '#', class: "btn-lg btn-primary view-delegation", target: '_blank' %>
  </div>
</div>
