<div class='delegation-step step-error text-center p-5'>
  <h3>An Error Occurred</h3>
  <p>
    Sorry, something went wrong. Please disconnect
    your Ledger, refresh the page, and try again.
  </p>
  <div class='alert alert-danger mt-4 mb-0'>
    <p class='delegation-error mb-0'></p>
  </div>
</div>
