<div class='delegation-step step-setup text-center p-5'>
  <h3>Connecting...</h3>
  <p>Connect, unlock, and open the <%= app_name %> app on your Ledger.</p>
  <div class='p-4'>
    <span class='fas fa-spin fa-slash text-muted'></span>
  </div>
</div>
