<div class='delegation-step step-<%= step_name %> text-center p-5'>
  <h3><%= title %></h3>
  <p><%= content %></p>
  <div class='p-4'>
    <span class='fas fa-spin fa-slash text-muted'></span>
  </div>
</div>
