<% if @validator.nil? %>
  <td>
    <span class='paragraph font-weight-bold'>
      <%= link_to event.validatorlike.short_name, namespaced_path('validator', event.validatorlike) %>
    </span>
  </td>
<% end -%>
<td>
  <%= image_tag "event-missed.svg", alt: "forbidden sign", class: 'event-history__forbidden-sign mr-2' %>
  <span class='font-weight-bold'>
    Missed
    <span class='technical'><%= event.data['n'] %></span> consecutive precommits
  </span>
</td>
<td>  
  <%= link_to event.height, namespaced_path('block', event.height), class: 'technical event-history__block'%>
</td>

