<% content_for :body_class, 'reports-new' %>

<%= render partial: '/oasis/shared/chain_header', locals: { summary_link: true, active_tab: '' } %>

<div class='container'>
  <div class='content'>
    <div class='data-block m-auto'>
      <h4 class='data-block__title'>Generate Report for Account:</h4>
      <%= form_with url: oasis_chain_reports_path(@chain) do %>
        <div class='d-flex align-items-md-center flex-column flex-md-row'>
          <%= text_field_tag :id, nil, class: 'form-control technical', placeholder:'enter account...' %>
          <%= submit_tag 'Generate', class: 'ml-md-3 mt-3 mt-md-0 btn btn-sm btn-primary text-nowrap' %>
        </div>
      <% end -%>
    </div>
  </div>
</div>
