<% if show_datahub_promotion?(@chain) %>
  <div class="mb-5">
    <figment-promo text="Connect to <%= @chain.network_name %> with Datahub" to="https://figment.io/datahub/<%= @chain.network_name.downcase %>"/>
  </div>
<% end %>
