<div class='error-content d-flex justify-content-between align-items-center flex-column'>
  <h1 class='display'>Unable to Display</h1>
  <p>Sorry! We're having some trouble loading and displaying this data. Please try again later.</p>
</div>
