<footer class="footer">
  <div class="container">
    <div class="d-flex align-items-center">
      <img class="footer__logo" src='<%= image_path 'figment-logo-short.svg' %>' />
      <p class="m-0 footer__text">Copyright &copy; <%= Date.today.year %> <a href="https://figment.io/" target="_blank" rel="noopener noreferrer">Figment Inc.</a>
      All rights reserved. <%= link_to 'Disclaimer', disclaimer_path %></p>
    </div>
  </div>
</footer>
