<div class="col-12 d-flex justify-content-center">
  <%= link_to request.params.merge(page: prev_page), id: 'prev-page', class: "btn btn-outline-secondary btn-sm #{prev_page_disabled}" do %>
    <span class="fas fa-fw fa-chevron-left" ></span>
  <% end %>
  <span class="mr-3 ml-3 align-self-center" > Page <%= current_page %></span>
  <%= link_to request.params.merge(page: next_page), id: 'next-page', class: "btn btn-outline-secondary btn-sm #{next_page_disabled}" do %>
    <span class="fas fa-fw fa-chevron-right"></span>
  <% end %>
</div>
