<% content_for :body_class, 'static' %>

<div class="static-content">
  <h1>DISCLAIMER</h1>
  <p>All data and information is provided "as is" and "where is" without representations or warranties of any
    kind. Figment disclaims any duty to verify data and will not be liable for errors, omissions, delays or
    interruptions in the data, or for actions taken in reliance on it. None of the data or information provided is an
    investment recommendation by Figment.
  </p>
</div>
