<td>
  <span class='paragraph'>
    <% if @orchestrator.nil? -%>
      <%= link_to event.orchestrator.name_or_address, namespaced_path('orchestrator', event.orchestrator) %>
      changed reward cut to <%= number_to_percentage(event.reward_cut) %>
    <% else -%>
      Reward cut changed to <%= number_to_percentage(event.reward_cut) %>
    <% end -%>
  </span>
</td>
<td>
  <span class='technical event-history__block'>
    <%= link_to event.round.number, namespaced_path('round', event.round), class: 'technical' %>
  </span>
</td>
