.network-chain-header {
  background: #F5F5F5;
  border: 1px solid $border-color;
}
.network-chain-header-arrow {
  height: 32px;
  width: 16px;
  color: $primary;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 32px;
}
.chain-select {
  .dropdown-toggle {
    position: relative;
    padding: 0 31px 0 0;
    border: none;
    background: none;
    color: $primary;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
  }
  .dropdown-toggle::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 25px;
    height: 25px;
    transform: translateY(-50%);
    border: 1px solid #AAAAAA;
    border-radius: 4px;
    vertical-align: initial;
  }
  .dropdown-toggle::after {
    position: absolute;
    top: 50%;
    right: 7px;
    margin: 0;
    transform: translateY(-50%);
    vertical-align: initial;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-bottom: 0;
    border-left: 0.35em solid transparent;
  }
  .dropdown-menu {
    padding-top: 0px;
  }
  .dropdown-divider {
    margin-bottom: 0;
  }
  .dropdown-divider:last-child { display: none; }
  .dropdown-label {
    padding: 0.25rem 1rem;
    background: #F4F4F4;
    color: $primary;
    padding-top: 0.4rem;
    &:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }
  a.dropdown-item {
    padding: 0.25rem 1rem;
    &.current-chain {
      color: $secondary;
    }
  }
}
.sync {
  justify-content: flex-start;
  padding: 30px 0 16px;
  @include media-breakpoint-up(md) {
    justify-content: flex-end;
    padding: 0;
  }
}
.sync > div {
  margin-bottom: 16px;
  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
}
.sync__link {
  opacity: 0.55;
  color: $primary;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
  text-decoration: underline;
}
.tabs {
  display: flex;
}
.tabs__link {
  padding: 10px 20px;
  color: $primary;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
}
.tabs__link.active {
  position: relative;
  border: 1px solid $border-color;
  border-bottom: none;
  border-radius: 6px 6px 0 0;
  background-color: #FFFFFF;
  font-weight: 700;
}
.tabs__link.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(1px);
  width: 100%;
  height: 1px;
  background: #fff;
}
