.validators {
  border: 1px solid $border-color;
  border-radius: 6px;
}

.validator-table-header {
  display: flex;
  align-items: center;
  color: $primary;
  padding: 12px 19px 12px 22px;
  border-bottom: 1px solid $border-color;

  h4 {
    margin: 0 18px 0 0;
    color: $primary;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;

    .tiny-average-active-validators-chart-container {
      max-width: 100%;
      margin-bottom: 20px;
      display: none;
    }

    small { display: none; }
    @include media-breakpoint-up(md) {
      align-items: flex-end;
      flex-direction: row;
      .tiny-average-active-validators-chart-container {
        margin-bottom: 0;
        display: block;
      }
      small { display: block; }
    }
  }
  
  .validator-table__filter {
    color: $primary;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 32px;
    border: none;
    background: none;
  }
  
  .validator-search {
    height: 40px;
    max-width: 272px;
    width: 100%;
    padding: 4px 15px;
    border: 1px solid rgba(17,17,17,0.25);
    border-radius: 3px;
    background-color: #FFFFFF;
    color: $primary;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 32px;
  }
}

.validator-table {
  margin: 0 auto 0 auto;

  .dataTables_wrapper {
    overflow-x: auto;
    .dataTables_info {
      display: block;
      width: 100%;
      padding: 10px 10px;
      font-size: $font-size-sm;
      color: $gray-300;
    }
  }

  table.dataTable {
    &.no-footer {
      border-bottom: 0;
    }

    tbody {
      tr {
        height: 49px;
      }
      td {
        padding: 7.5px 19px;
        border-bottom: 1px solid $border-color !important;
      }
      &:last-child {
        td { border-bottom: none; }
      }
      td.timestamp {
        white-space: nowrap;
        font-size: $font-size-sm;
      }
      .col-address a {
        color: $primary;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 17px;
      }
      td:not(:first-child) {
        color: $primary;
        font-family: "Source Code Pro";
        font-size: 14px;
        letter-spacing: 0;
        line-height: 18px;
      }
      .col-voting span:last-child {
        font-weight: 600;
        opacity: 0.4;
      }
    }

    thead {
      th {
        padding: 8px 19px;
        color: $primary;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 15px;
        border-bottom: 1px solid $border-color;
        text-transform: uppercase;
      }
    }
  }
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  background-position: right 5px top 50%;
}

table.dataTable thead .sorting {
  background-image: image-url('icons/sort_both.svg');
}

table.dataTable thead .sorting_asc {
  background-image: image-url('icons/sort_asc.svg');
  background-size: 6px;
}

table.dataTable thead .sorting_desc {
  background-image: image-url('icons/sort_desc.svg');
  background-size: 6px;
}
