.transaction-show {
  .transaction-section-title {
    font-size: 12px;
    font-weight: 700;
    padding: 1.2rem;
    letter-spacing: 2px;
    color: $primary;
    border-top: 1px solid $table-border !important;
  }

  .no-first-row-top-border {
    tr:first-of-type {
      td {
        border-top: 0;
      }
    }
  }
}
.show-opts label{
    margin-right: 0.5rem;
}
.tx-search-types-card {
  box-shadow: none;
}
.tx-type-category {
  label{
    margin-right: 2rem;
  }
  label[for='search_type']{
    display: none;
  }
}

