.validator-show {
  .hero {
    background-position: bottom -250px center, top left;
    background-image: image-url('angle-bg/up-right-to-left.svg'), image-url('hero/cosmos.png');
  }

  .block-heatmap-container {
    position: relative;
    #chartjs-tooltip-bhm div {
      display: flex;
      align-items: center;
      .fa { margin: 0 8px; }
      .badge { font-size: $font-size-base * 1.1; }
    }
  }
  .block-heatmap {
    display: flex;
    .block {
      width: 2%;
      height: 30px;
      margin-right: 1px;
      background: black;
      border-right: 1px solid white;
      &.ok {
        border: 1px solid $success;
        background: #fff;
        &:hover {
          background: lighten($success, 10%);
          border: 1px solid lighten($success, 10%);
        }
      }
      &.missed { background: $danger; &:hover { background: lighten($danger, 10%); } }
      &.proposed {
        border: 3px solid $primary;
        &:hover {
          background: lighten($primary, 10%);
          border: 1px solid lighten($primary, 10%);
        }
      }
    }
  }
  .voting-power-block {
    margin-top: 25px;
    padding-top: 30px;
    border-top: 1px solid $border-color;
  }
  .voting-power-history-chart-container {
    height: 150px;
  }
  .uptime-history-last48h-chart-container,
  .uptime-history-alltime-chart-container {
    height: 100px;
  }
  .data-block__large-number {
    display: flex;
    align-items: flex-start;

    .sup {
      margin: 7px 0 0 4px;
    }
  }
}

.validator-subscriptions {
  .daily-digest-description {
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 40%;
    }
  }
}

#delegation-modal {
  .delegation-step {
    .fa-spin {
      font-size: 4em;
    }
  }
}

.validator-header {
  border: 1px solid $border-color;
  padding: 37px 0 0;
}
.validator-header__title {
  margin: 0 22px 0 0;
  color: $primary;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 32px;
}
.stake-button {
  height: 40px;
  width: 188px;
  margin-top: 15px;
  border-radius: 6px;
  background-color: $primary;
  border: none;
  color: #FFF29B;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
}
.validator-info__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.validator-info__item {
  display: flex;
  align-items: center;
}
.validator-info__item + .validator-info__item {
  margin-top: 6px;
}
.validator-info__label {
  min-width: 48px;
  margin: 0 24px 0 0;
}
.validator-info__value {
  width: 100%;
  width: 460px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 3px 8px;
  border: 1px solid $border-color;
  border-radius: 4px;
  color: $primary;
  font-size: 13px;
  letter-spacing: 0;
}
.event-history {
  min-width: 500px;
}
.event-history__arrow {
  width: 12px;
  height: 15px;
}
.event-history__forbidden-sign {
  width: 13px;
  height: 13px;
}
.event-history__block {
  margin: 0;
  color: $secondary;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  text-decoration: underline;
}
.event-history__date {
  color: $primary;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 24px;
}
.event-history__value {
  margin: 0;
  color: $primary;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;

  span {
    color: rgba(17,17,17,0.25);
  }
}
.event-history__amount {
  opacity: 0.55;
  color: $primary;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
}
.validator-show .chart-container {
  display: flex;
  align-items: center;
  height: 26px;
  transform: translateX(-10px);

  span {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 24px;
  }
}
.status-pie-chart {
  height: 26px !important;
  width: auto !important;
}

@media (max-width: 600px) {
  .validator-info__item {
    flex-direction: column;
    align-items: flex-start;
  }
  .validator-info__value {
    width: 100%;
    margin-top: 6px;
    word-break: break-all;
  }
  .validator-info__item + .validator-info__item {
    margin-top: 10px;
  }
}
