.validator-show {
  .hero {
    background-position: bottom -250px center, top left;
    background-image: image-url('angle-bg/up-right-to-left.svg'), image-url('hero/cosmos.png');
  }

  .block-heatmap-container {
    position: relative;
    #chartjs-tooltip-bhm div {
      display: flex;
      align-items: center;
      .fa { margin: 0 8px; }
      .badge { font-size: $font-size-base * 1.1; }
    }
  }
  .block-heatmap {
    display: flex;
    .block {
      width: 2%;
      height: 30px;
      margin-right: 1px;
      background: black;
      border-right: 1px solid white;
      &.ok {
        border: 1px solid $success;
        background: #fff;
        &:hover {
          background: lighten($success, 10%);
          border: 1px solid lighten($success, 10%);
        }
      }
      &.missed { background: $danger; &:hover { background: lighten($danger, 10%); } }
      &.proposed {
        border: 3px solid $primary;
        &:hover {
          background: lighten($primary, 10%);
          border: 1px solid lighten($primary, 10%);
        }
      }
    }
  }
  .voting-power-block {
    margin-top: 25px;
    padding-top: 30px;
    border-top: 1px solid $border-color;
  }
  .voting-power-history-chart-container {
    height: 150px;
  }
  .uptime-history-last48h-chart-container,
  .uptime-history-alltime-chart-container {
    height: 100px;
  }
  .data-block__large-number {
    display: flex;
    align-items: flex-start;

    .sup {
      margin: 7px 0 0 4px;
    }
  }
}

.validator-subscriptions {
  .daily-digest-description {
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 40%;
    }
  }
}

#delegation-modal {
  .delegation-step {
    .fa-spin {
      font-size: 4em;
    }
  }
}
