<div class="section__header">
  <h2 class="section__title">NETWORK CALENDAR</h2>
</div>
<div class="calendar-wrapper<%= (defined?(small) && small) ? ' calendar-wrapper-small' : '' %>">
  <div class="calendar<%= (defined?(full_width) && full_width) ? ' calendar--fullwidth' : '' %>" id="calendar"></div>
</div>

