<section class="login-section login-section--left">
  <div class="login-section__background"></div>
  <div class="login-section__content">
    <div class="login-section__header login-section__header--large">
      <h1 class="login-section__title">Prime Dashboard</h1>
      <p class="login-section__lead">The staking portal by Figment</p>
    </div>
    <ul class="login-section__list">
      <li class="login-section__list-item">
        Track your portfolio across protocols
        <img class="login-section__list-icon" src='<%= image_path('prime/icons/bar-chart.svg') %>' alt="bar chart" />
      </li>
      <li class="login-section__list-item">
        Get in-depth rewards reports
        <img class="login-section__list-icon" src='<%= image_path('prime/icons/cash.svg') %>' alt="rewards">
      </li>
      <li class="login-section__list-item">
        Stay on top of protocol news & events
        <img class="login-section__list-icon" src='<%= image_path('prime/icons/news.svg') %>' alt="news">
      </li>
      <li class="login-section__list-item">
        Track validator performance
        <img class="login-section__list-icon" src='<%= image_path('prime/icons/percentage.svg') %>' alt="percentage">
      </li>
    </ul>
  </div>
</section>
