<div class='data-col-md-12 col-lg-6 mb-5 mb-lg-0'>
  <h5 class='data-block__title'>Uptime History <small>&mdash; Last 24 Hours</small>
  </h5>
  <div class='validator-hourly-uptime-chart-container'>
    <canvas
      class='validator-hourly-uptime-chart'
      data-chart="<%= validator_hourly_uptime_avg.to_json %>"
      data-name="hourly-uptime-chart"
    ></canvas>
  </div>
</div>
