<tr>
  <td><%= network_event.network.name.capitalize %></td>
  <td><%= network_event.decorated_date %></td>
  <td>
    <%= link_to ((defined?(truncate_titles) && truncate_titles) ? network_event.title.truncate(35) : network_event.title),
                network_event.source,
                class: 'link',
                target: 'blank' %>
  </td>
</tr>
