<tr>
  <td><%= network_event.network.name.capitalize %></td>
  <td><%= network_event.decorated_date %></td>
  <td>
    <button data-target="<%= network_event.event_id %>-info-modal" class="link"><%= network_event.title %></button>
  </td>
</tr>
