<div class='data-block chain-pool'>
  <h3 class='data-block__title'>Community Pool</h3>
  <div class="sub-info mb-2">
    <small class="text-label">Total Currency</small>
    <%= format_amount(block.total_currency) %>
  </div>
  <div class="sub-info">
    <small class="text-label">
      Validator Pool
    </small>
    <%= format_amount(validator_pool) %>
  </div>
</div>
