---
http_interactions:
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/polkadot/metrics/price/time-series
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Interval:
      - 1d
      End:
      - '1613698325'
      Start:
      - '1611106325'
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3986'
      X-Ratelimit-Reset:
      - '1613763883'
    body:
      encoding: UTF-8
      string: '{"status":{"elapsed":19,"timestamp":"2021-02-19T01:32:07.378199543Z"},"data":{"id":"da6a0575-ec95-4c47-855d-5fc6a3e22ada","symbol":"DOT","name":"Polkadot","slug":"polkadot","_internal_temp_agora_id":"06b2065f-b4c4-4932-8737-23226fb73668","parameters":{"asset_key":"polkadot","asset_id":"da6a0575-ec95-4c47-855d-5fc6a3e22ada","start":"2021-02-08T09:32:07.358665577Z","end":"2021-02-19T01:32:07.358665577Z","interval":"1h","order":"ascending","format":"json","timestamp_format":"unix-milliseconds","columns":["timestamp","open","high","low","close","volume"]},"schema":{"metric_id":"price","description":"Volume
        weighted average price computed using Messari Methodology","values_schema":{"timestamp":"Time
        in milliseconds since the epoch (1 January 1970 00:00:00 UTC)","open":"The
        price of the asset at the beginning of the specified interval in US dollars.","high":"The
        highest price of the asset during the specified interval in US dollars.","low":"The
        highest price of the asset during the specified interval in US dollars","close":"The
        price of the asset at the end of the specified interval in US dollars.","volume":"The
        total volume traded during the specified interval across all Messari method
        markets in US dollars"},"minimum_interval":"1m","first_available":null,"last_available":null,"source_attribution":[{"name":"Kaiko","url":"https://www.kaiko.com/"}]},"values":[[1612778400000,20.65928221593446,22.051001722689275,20.6406776978441,22.031608445525375,146026623.6955585],[1612782000000,21.92706674999669,22.793097704391535,21.90246395937751,22.277668887530222,178121844.8477676],[1612785600000,22.30961300292386,22.599848981044417,21.772999987134163,21.985238017293874,113490832.26541995],[1612789200000,21.943199522338475,22.141004704783892,21.098083960997627,22.094339588383704,127952219.71623124],[1612792800000,22.01352551825387,22.584822037989973,21.61027526[...]
