.event-history {
  min-width: 500px;
}
.event-history__arrow {
  width: 12px;
  height: 15px;
}
.event-history__forbidden-sign {
  width: 13px;
  height: 13px;
}
.event-history__block {
  margin: 0;
  color: $secondary;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 24px;
  text-decoration: underline;
}
.event-history__date {
  color: $primary;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 24px;
}
.event-history__value {
  margin: 0;
  color: $primary;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;

  span {
    color: rgba(17,17,17,0.25);
  }
}
.event-history__amount {
  opacity: 0.55;
  color: $primary;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
}
