.footer {
  padding: 40px 0 54px;
}
.footer-wrapper {
  background: #fff;
}
.footer__logo {
  width: 32px;
  height: 32px;
  margin-right: 15px;
}
.footer__text {
  color: $primary;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
}
