---
http_interactions:
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/polkadot/metrics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3999'
      X-Ratelimit-Reset:
      - '1616179703'
    body:
      encoding: UTF-8
      string: '{"status":{"elapsed":3,"timestamp":"2021-03-18T18:48:23.546530238Z"},"data":{"id":"da6a0575-ec95-4c47-855d-5fc6a3e22ada","symbol":"DOT","name":"Polkadot","slug":"polkadot","_internal_temp_agora_id":"06b2065f-b4c4-4932-8737-23226fb73668","market_data":{"price_usd":36.006697983917775,"price_btc":0.0006189804308426381,"price_eth":0.020020832389258905,"volume_last_24_hours":1739730518.0738168,"real_volume_last_24_hours":512686153.00660276,"volume_last_24_hours_overstatement_multiple":3.3933635770564905,"percent_change_usd_last_1_hour":-0.9468108755592732,"percent_change_usd_last_24_hours":0.9928380057895586,"percent_change_btc_last_24_hours":0.46848531309640984,"percent_change_eth_last_24_hours":2.613446861823193,"ohlcv_last_1_hour":{"open":36.36518853154294,"high":36.47657451931389,"low":35.95712549995123,"close":36.01614663618517,"volume":27155192.40248162},"ohlcv_last_24_hour":{"open":34.9348034723939,"high":37.04841181128149,"low":34.90142288697311,"close":36.00669798391778,"volume":682406806.9443036},"last_trade_at":"2021-03-18T18:48:19.508Z"},"marketcap":{"marketcap_dominance_percent":1.8375063591605667,"current_marketcap_usd":33183787598.46824,"y_2050_marketcap_usd":602927047979.6748,"y_plus10_marketcap_usd":100498971017.47337,"liquid_marketcap_usd":38771989005.72429,"realized_marketcap_usd":null,"volume_turnover_last_24_hours_percent":1.3228331120809895},"supply":{"y_2050":16703146221,"y_plus10":2784166034,"liquid":1074117016,"circulating":919304679.1997736,"y_2050_issued_percent":6.430626911770481,"annual_inflation_percent":9.992824282750213,"stock_to_flow":10.007180870039086,"y_plus10_issued_percent":38.579488539224094},"blockchain_stats_24_hours":{"count_of_active_addresses":null,"transaction_volume":null,"adjusted_transaction_volume":null,"adjusted_nvt":null,"median_tx_value":null,"median_tx_fee":null,"count_of_tx":null,"count_of_payments":null,"new_issuance":null,"average_difficulty":null,"kilobytes_added":null,"count_of_blocks_added":null},"market_data_liquidity":{"clearing_prices_to_sell":null,"marketcap":null,"asset_bid_depth":null,"usd_bid_depth":null,"updated_at":"0001-01-01T00:00:00Z"},"all_time_high":{"price":null,"at":null,"days_since":null,"percent_down":null,"breakeven_multiple":null},"cycle_low":{"price":null,"at":null,"percent_up":null,"days_since":null},"token_sale_stats":{"sale_proceeds_usd":null,"sale_start_date":null,"sale_end_date":null,"roi_since_sale_usd_percent":null,"roi_since_sale_btc_percent":null,"roi_since_sale_eth_percent":null},"staking_stats":{"staking_yield_percent":5,"staking_type":null,"staking_minimum":null,"tokens_staked":null,"tokens_staked_percent":null,"real_staking_yield_percent":-4.539227277149949},"mining_stats":{"mining_algo":null,"network_hash_rate":null,"available_on_nicehash_percent":null,"1_hour_attack_cost":null,"24_hours_attack_cost":null,"attack_appeal":null,"mining_revenue_native":null,"mining_revenue_usd":null,"average_difficulty":null},"developer_activity":{"stars":null,"watchers":null,"commits_last_3_months":null,"commits_last_1_year":null,"lines_added_last_3_months":null,"lines_added_last_1_year":null,"lines_deleted_last_3_months":null,"lines_deleted_last_1_year":null},"roi_data":{"percent_change_last_1_week":-2.2344447862497776,"percent_change_last_1_month":19.94295229207967,"percent_change_last_3_months":573.3707773162704,"percent_change_last_1_year":null,"percent_change_btc_last_1_week":-3.567672774694688,"percent_change_btc_last_1_month":0.8168401707301503,"percent_change_btc_last_3_months":165.76925546840926,"percent_change_btc_last_1_year":null,"percent_change_eth_last_1_week":-1.2060820184350387,"percent_change_eth_last_1_month":18.323095942357607,"percent_change_eth_last_3_months":143.7598863153203,"percent_change_eth_last_1_year":null,"percent_change_month_to_date":1.2543453888018763,"percent_change_quarter_to_date":335.32993353432647,"percent_change_year_to_date":335.32993353432647},"roi_by_year":{"2020_usd_percent":null,"2019_usd_percent":null,"2018_usd_percent":null,"2017_usd_percent":null,"2016_usd_percent":null,"2015_usd_percent":null,"2014_usd_percent":null,"2013_usd_percent":null,"2012_usd_percent":null,"2011_usd_percent":null},"risk_metrics":{"sharpe_ratios":{"last_30_days":2.5639523912216617,"last_90_days":4.991948843058369,"last_1_year":1.6400733239656893,"last_3_years":null},"volatility_stats":{"volatility_last_30_days":0.9811634430418629,"volatility_last_90_days":1.8141617597202007,"volatility_last_1_year":2.0954204137811216,"volatility_last_3_years":null}},"misc_data":{"private_market_price_usd":80,"vladimir_club_cost":null,"btc_current_normalized_supply_price_usd":null,"btc_y2050_normalized_supply_price_usd":null,"asset_created_at":null,"asset_age_days":null,"categories":["Infrastructure"],"sectors":["Smart
        Contract Platforms"],"tags":[""]},"lend_rates":null,"borrow_rates":null,"loan_data":{"originated_last_24_hours_usd":null,"outstanding_debt_usd":null,"repaid_last_24_hours_usd":null,"collateralized_last_24_hours_usd":null,"collateral_liquidated_last_24_hours_usd":null},"reddit":{"active_user_count":null,"subscribers":null},"on_chain_data":{"txn_count_last_24_hours":null,"transfer_count_last_24_hours":null,"txn_volume_last_24_hours_usd":null,"active_addresses":null,"total_fees_last_24_hours_usd":null,"total_fees_last_24_hours":null,"average_fee_usd":null,"median_fee_usd":null,"average_transfer_value_usd":null,"median_transfer_value_usd":null,"adjusted_nvt":null,"issuance_last_24_hours_usd":null,"issuance_rate":null,"hash_rate":null,"blocks_added_last_24_hours":null,"block_size_bytes_total":null,"block_size_bytes_average":null},"exchange_flows":{"supply_exchange_usd":null,"flow_in_exchange_native_units_inclusive":null,"flow_in_exchange_usd_inclusive":null,"flow_in_exchange_native_units":null,"flow_in_exchange_usd":null,"flow_out_exchange_native_units_inclusive":null,"flow_out_exchange_usd_inclusive":null,"flow_out_exchange_native_units":null,"flow_out_exchange_usd":null},"alert_messages":null}}'
  recorded_at: Thu, 18 Mar 2021 18:48:23 GMT
- request:
    method: get
    uri: http://localhost:2222/rewards/14EARDJPoMytBe355sRmtq2pJD99n4rZqAnc2bfkWyrPn1J6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"era":284,"start_height":4154940,"end_height":4169205,"time":"2021-03-13T11:36:18Z","stash_account":"14EARDJPoMytBe355sRmtq2pJD99n4rZqAnc2bfkWyrPn1J6","validator_stash_account":"14ShUZUYUR35RBZW6uVVt1zXDxmSQddkeDdXf1JkMA6P721N","amount":"5046521213","kind":"reward","claimed":true},{"era":285,"start_height":4169205,"end_height":4183433,"time":"2021-03-14T11:36:18Z","stash_account":"14EARDJPoMytBe355sRmtq2pJD99n4rZqAnc2bfkWyrPn1J6","validator_stash_account":"14ShUZUYUR35RBZW6uVVt1zXDxmSQddkeDdXf1JkMA6P721N","amount":"4474787927","kind":"reward","claimed":true},{"era":286,"start_height":4183433,"end_height":4197693,"time":"2021-03-15T11:36:24Z","stash_account":"14EARDJPoMytBe355sRmtq2pJD99n4rZqAnc2bfkWyrPn1J6","validator_stash_account":"14ShUZUYUR35RBZW6uVVt1zXDxmSQddkeDdXf1JkMA6P721N","amount":"4191450824","kind":"reward","claimed":true},{"era":287,"start_height":4197693,"end_height":4211992,"time":"2021-03-16T11:36:18Z","stash_account":"14EARDJPoMytBe355sRmtq2pJD99n4rZqAnc2bfkWyrPn1J6","validator_stash_account":"14ShUZUYUR35RBZW6uVVt1zXDxmSQddkeDdXf1JkMA6P721N","amount":"4307697474","kind":"reward","claimed":true}]

'
  recorded_at: Thu, 18 Mar 2021 18:48:23 GMT
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/polkadot/metrics/price/time-series?interval=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '4000'
      X-Ratelimit-Remaining:
      - '3998'
      X-Ratelimit-Reset:
      - '1616179703'
    body:
      encoding: UTF-8
      string: '{"status":{"elapsed":19,"timestamp":"2021-03-18T18:48:24.165754411Z"},"data":{"id":"da6a0575-ec95-4c47-855d-5fc6a3e22ada","symbol":"DOT","name":"Polkadot","slug":"polkadot","_internal_temp_agora_id":"06b2065f-b4c4-4932-8737-23226fb73668","parameters":{"asset_key":"polkadot","asset_id":"da6a0575-ec95-4c47-855d-5fc6a3e22ada","start":"2020-07-05T18:48:24.146272482Z","end":"2021-03-18T18:48:24.146272482Z","interval":"1d","order":"ascending","format":"json","timestamp_format":"unix-milliseconds","columns":["timestamp","open","high","low","close","volume"]},"schema":{"metric_id":"price","description":"Volume
        weighted average price computed using Messari Methodology","values_schema":{"timestamp":"Time
        in milliseconds since the epoch (1 January 1970 00:00:00 UTC)","open":"The
        price of the asset at the beginning of the specified interval in US dollars.","high":"The
        highest price of the asset during the specified interval in US dollars.","low":"The
        highest price of the asset during the specified interval in US dollars","close":"The
        price of the asset at the end of the specified interval in US dollars.","volume":"The
        total volume traded during the specified interval across all Messari method
        markets in US dollars"},"minimum_interval":"1m","source_attribution":[{"name":"Kaiko","url":"https://www.kaiko.com/"}]},"values":[[1597622400000,331.99945552054953,340.5142536603866,326.5814671623624,328.5339010878377,875755.51136411],[1597708800000,329.92637450211873,406.71466137339894,296.3447028147549,319.5768808031937,66778555.056642495],[1597795200000,326.3287888050124,342.60786554153873,273.33,294.65055068998345,61471873.68094325],[1597881600000,295.1448623046348,314.4927206883279,268.7931034091374,291.04522906055087,45514075.09969403],[1597968000000,292.02090620868415,321.8,2.8484,2.8484,11156831.72684183],[1598054[...]
