@import 'common/bootstrap-variables';
@import 'bootstrap/scss/bootstrap';
@import 'common/bootstrap-overrides';

@import 'datatables/media/css/jquery.dataTables.min';
@import 'common/datatables-overrides';

@import 'tooltipster/dist/css/tooltipster.bundle.min';

@import 'common/nav';
@import 'common/footer';
@import 'common/typography';
@import 'common/misc';
@import 'common/logotypes';

// app pages
@import 'page/avalanche/chain';
@import 'page/avalanche/validator';

// components
@import 'components/network-chain-header';
@import 'components/data-block';
@import 'components/data-table';
@import 'components/validator-header';
@import 'components/validator-table';
@import 'components/search-bar';
@import 'components/transactions-table';
