@import 'common/bootstrap-variables';
@import 'bootstrap/scss/bootstrap';
@import 'common/bootstrap-overrides';

@import 'redesign/common/nav';
@import 'redesign/common/footer';
@import 'common/typography';
@import 'redesign/components/errors';

.error-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f5f5f5;

  .content-wrapper {
    flex-grow: 1;
  }

}
