@import 'common/bootstrap-variables';
@import 'bootstrap/scss/bootstrap';
@import 'common/bootstrap-overrides';

@import 'datatables/media/css/jquery.dataTables.min';
@import 'common/datatables-overrides';

@import 'tooltipster/dist/css/tooltipster.bundle.min';
@import 'flatpickr/dist/flatpickr.min';

@import 'common/nav';
@import 'common/footer';
@import 'common/typography';
@import 'common/misc';
@import 'common/logotypes';

// app pages
@import 'page/mina/chain';
@import 'page/mina/block';
@import 'page/mina/account';
@import 'page/mina/validator';
@import 'page/mina/transaction';

// components
@import 'components/validator-table';
@import 'components/validator-header';
@import 'components/network-chain-header';
@import 'components/data-block';
@import 'components/data-table';
