<div class="row data-block flex-wrap">
  <div class="col-md-6 col-lg-auto mb-4">
    <h3 class="data-block__title">MISSED BAKES</h3>
    <span class="data-block__large-number"><%= @cycle.missed_priorities %></span>
  </div>

  <div class="col-md-6 col-lg-auto mb-4">
    <h3 class="data-block__title">MISSED ENDORSEMENT SLOTS</h3>
    <span class="data-block__large-number"><%= @cycle.missed_slots %></span>
  </div>

  
  <div class="col-md-6 col-lg-auto mb-4">
    <h3 class="data-block__title">SNAPSHOT CYCLE</h3>
    <span class="data-block__large-number position-relative"><%= link_to @cycle.snapshot_cycle_number, "#snapshotModal", data: { toggle: "modal" }, class: "stretched-link" %></span>
  </div>

  <div class="col-md-6 col-lg-auto mb-4">
    <h3 class="data-block__title">REWARDS AVAILABLE</h3>
    <span class="data-block__large-number position-relative"><%= link_to @cycle.rewards_unfrozen_cycle_number, "#rewardsModal", data: { toggle: "modal" }, class: "stretched-link" %></span>
  </div>
</div>
