<% if status.stale? %>
  <div class='alert alert-warning sync-error-alert d-flex justify-content-between align-items-center'>
    <div>
      <span class='fas fa-fw mr-2 fa-exclamation-triangle'></span>
      Chain indexing appears to be out of date.
      <% if status.last_block_time %>
        Last block indexed <%= distance_of_time_in_words(Time.current, status.last_block_time, highest_measure_only: true ) %> ago!
      <% end %>
    </div>
  </div>
<% end %>
