<% if !@is_synced -%>
  <div class='alert alert-warning sync-error-alert d-flex justify-content-between align-items-center'>
    <div>
      <span class='fas fa-fw mr-2 fa-exclamation-triangle'></span>
      Chain appears to be stopped. No new blocks for over
      <%= distance_of_time_in_words( Time.now.utc, @latest_block.time, highest_measure_only: true ) %>!
    </div>
  </div>
<% end -%>
