---
http_interactions:
- request:
    method: get
    uri: https://data.messari.io/api/v1/assets/polkadot/metrics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"elapsed":0,"timestamp":"2021-02-18T20:26:07.901378745Z"},"data":{"id":"da6a0575-ec95-4c47-855d-5fc6a3e22ada","symbol":"DOT","name":"Polkadot","slug":"polkadot","_internal_temp_agora_id":"06b2065f-b4c4-4932-8737-23226fb73668","market_data":{"price_usd":30.834022584234855,"price_btc":0.0005924067863426423,"price_eth":0.01593042346029977,"volume_last_24_hours":2171343089.968086,"real_volume_last_24_hours":662831109.296498,"volume_last_24_hours_overstatement_multiple":3.2758617685773097,"percent_change_usd_last_1_hour":-0.790900201159574,"percent_change_usd_last_24_hours":-2.9391664447403842,"percent_change_btc_last_24_hours":-2.5469496934851015,"percent_change_eth_last_24_hours":-8.226834102798705,"ohlcv_last_1_hour":{"open":31.08079911193562,"high":31.274744927768868,"low":30.64265978474724,"close":30.836534467184023,"volume":30030896.660604637},"ohlcv_last_24_hour":{"open":31.79703077500631,"high":32.61710135764711,"low":30.593207717915934,"close":30.834022584234855,"volume":853189950.0819194},"last_trade_at":"2021-02-18T20:26:04.686Z"},"marketcap":{"marketcap_dominance_percent":1.7551484129000605,"current_marketcap_usd":27920126537.57225,"y_2050_marketcap_usd":513798904656.3416,"y_plus10_marketcap_usd":85019171027.86934,"liquid_marketcap_usd":32799961365.73728,"realized_marketcap_usd":null,"volume_turnover_last_24_hours_percent":2.0117235782459044},"supply":{"y_2050":16703146221,"y_plus10":2763897767,"liquid":1066297623,"circulating":907658525.2314156,"y_2050_issued_percent":6.383813018767681,"annual_inflation_percent":9.99282420795568,"stock_to_flow":10.007180944941076,"y_plus10_issued_percent":38.57948856615578},"blockchain_stats_24_hours":{"count_of_active_addresses":null,"transaction_volume":null,"adjusted_transaction_volume":null,"adjusted_nvt":null,"median_tx_value":null,"median_tx_fee":null,"count_of_tx":null,"count_of_payments":null,"new_issuance":null,"average_difficulty":null,"kilobytes_added":null,"count_of_blocks_added":null},"market_data_liquidity":{"clearing_prices_to_sell":null,"marketcap":null,"asset_bid_depth":null,"usd_bid_depth":null,"updated_at":"0001-01-01T00:00:00Z"},"all_time_high":{"price":null,"at":null,"days_since":null,"percent_down":null,"breakeven_multiple":null},"cycle_low":{"price":null,"at":null,"percent_up":null,"days_since":null},"token_sale_stats":{"sale_proceeds_usd":null,"sale_start_date":null,"sale_end_date":null,"roi_since_sale_usd_percent":null,"roi_since_sale_btc_percent":null,"roi_since_sale_eth_percent":null},"staking_stats":{"staking_yield_percent":5,"staking_type":null,"staking_minimum":null,"tokens_staked":null,"tokens_staked_percent":null,"real_staking_yield_percent":-4.53922721223714},"mining_stats":{"mining_algo":null,"network_hash_rate":null,"available_on_nicehash_percent":null,"1_hour_attack_cost":null,"24_hours_attack_cost":null,"attack_appeal":null,"mining_revenue_native":null,"mining_revenue_usd":null,"average_difficulty":null},"developer_activity":{"stars":null,"watchers":null,"commits_last_3_months":null,"commits_last_1_year":null,"lines_added_last_3_months":null,"lines_added_last_1_year":null,"lines_deleted_last_3_months":null,"lines_deleted_last_1_year":null},"roi_data":{"percent_change_last_1_week":23.62389817165573,"percent_change_last_1_month":88.63566236243788,"percent_change_last_3_months":492.43039518186464,"percent_change_last_1_year":null,"percent_change_btc_last_1_week":14.63875766705946,"percent_change_btc_last_1_month":30.591876297796716,"percent_change_btc_last_3_months":113.31597980412553,"percent_change_btc_last_1_year":null,"percent_change_eth_last_1_week":14.777477479990608,"percent_change_eth_last_1_month":33.93953897259086,"percent_change_eth_last_3_months":57.04812672728464,"percent_change_eth_last_1_year":null,"percent_change_month_to_date":88.09957127786319,"percent_change_quarter_to_date":273.06843518038363,"percent_change_year_to_date":273.06843518038363},"roi_by_year":{"2020_usd_percent":null,"2019_usd_percent":null,"2018_usd_percent":null,"2017_usd_percent":null,"2016_usd_percent":null,"2015_usd_percent":null,"2014_usd_percent":null,"2013_usd_percent":null,"2012_usd_percent":null,"2011_usd_percent":null},"risk_metrics":{"sharpe_ratios":{"last_30_days":6.492165488773215,"last_90_days":4.873680767928119,"last_1_year":1.678924266743766,"last_3_years":null},"volatility_stats":{"volatility_last_30_days":1.3933836404511073,"volatility_last_90_days":1.8048500891376762,"volatility_last_1_year":2.212785252216319,"volatility_last_3_years":null}},"misc_data":{"private_market_price_usd":80,"vladimir_club_cost":null,"btc_current_normalized_supply_price_usd":null,"btc_y2050_normalized_supply_price_usd":null,"asset_created_at":null,"asset_age_days":null,"categories":["Infrastructure"],"sectors":["Smart
        Contract Platforms"],"tags":[""]},"lend_rates":null,"borrow_rates":null,"loan_data":{"originated_last_24_hours_usd":null,"outstanding_debt_usd":null,"repaid_last_24_hours_usd":null,"collateralized_last_24_hours_usd":null,"collateral_liquidated_last_24_hours_usd":null},"reddit":{"active_user_count":null,"subscribers":null},"on_chain_data":{"txn_count_last_24_hours":null,"transfer_count_last_24_hours":null,"txn_volume_last_24_hours_usd":null,"active_addresses":null,"total_fees_last_24_hours_usd":null,"total_fees_last_24_hours":null,"average_fee_usd":null,"median_fee_usd":null,"average_transfer_value_usd":null,"median_transfer_value_usd":null,"adjusted_nvt":null,"issuance_last_24_hours_usd":null,"issuance_rate":null,"hash_rate":null,"blocks_added_last_24_hours":null,"block_size_bytes_total":null,"block_size_bytes_average":null},"exchange_flows":{"supply_exchange_usd":null,"flow_in_exchange_native_units_inclusive":null,"flow_in_exchange_usd_inclusive":null,"flow_in_exchange_native_units":null,"flow_in_exchange_usd":null,"flow_out_exchange_native_units_inclusive":null,"flow_out_exchange_usd_inclusive":null,"flow_out_exchange_native_units":null,"flow_out_exchange_usd":null},"alert_messages":null}}'
  recorded_at: Thu, 18 Feb 2021 20:26:07 GMT
- request:
    method: get
    uri: https://data.messari.io/api/v1/intel/events?asset=polkadot
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Messari-Api-Key:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\"status\":{\"elapsed\":30,\"timestamp\":\"2021-02-18T20:26:08.329660987Z\"},\"data\":[{\"eventId\":\"664d6977-424f-4c21-b3d9-47815c386b36\",\"authorId\":\"google-oauth2|113893247094344112466\",\"createDate\":\"2020-07-27T04:00:00Z\",\"updateDate\":\"2020-07-27T04:00:00Z\",\"createAuthorName\":\"Wilson
        Withiam\",\"updateAuthorName\":\"Wilson Withiam\",\"eventName\":\"DOT Token
        Sale\",\"assets\":[\"polkadot\"],\"details\":\"The Web3 Foundation and Parity
        Technologies raised just shy of 4,000 BTC (totaling $44 million at the close
        of the sale) in a thee-day token sale ending on Jul. 27, 2020. The offering
        listed DOTs at $125 per token but geo-blocked certain jurisdictions from participating,
        including the United States and Japan. The sold tokens are also subject to
        a [five-month lockup](https://www.reddit.com/r/dot/comments/hxbxl6/get_polkadot/)
        that will begin once DOT transfers go live at block #1,205,128 (estimated
        to arrive on Aug. 18).\",\"eventDate\":\"2020-07-27T04:00:00Z\",\"softDate\":\"\",\"status\":\"Completed\",\"category\":\"Project
        Funding\",\"subcategory\":\"Token Sale\",\"tags\":[\"\"],\"importance\":\"Medium\",\"resources\":[{\"name\":\"Messari
        Analysis\",\"link\":\"https://messari.io/article/polkadot-raises-over-40-million-in-its-latest-token-sale\"}],\"activationBlock\":null,\"update\":\"\",\"submissionId\":\"d576539a-1076-4c22-9e1c-2a45952e91d4\"},{\"eventId\":\"61779e48-4061-4768-923d-30e5a0dcf5fb\",\"authorId\":\"google-oauth2|113893247094344112466\",\"createDate\":\"2020-04-14T04:00:00Z\",\"updateDate\":\"2020-04-14T04:00:00Z\",\"createAuthorName\":\"Wilson
        Withiam\",\"updateAuthorName\":\"Wilson Withiam\",\"eventName\":\"Coinbase
        Custody Staking Support\",\"assets\":[\"polkadot\"],\"details\":\"Coinbase
        Custody partnered with infrastructure provider Bison Trails to give[...]
