---
http_interactions:
- request:
    method: get
    uri: https://min-api.cryptocompare.com/data/pricemulti?fsyms=ATOM,LPT,KAVA,KSM,XTZ,LUNA,IRIS&tsyms=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Cryptocompare-Cache-Hit:
      - 'false'
      Cryptocompare-Server-Id:
      - ccc-api08
    body:
      encoding: UTF-8
      string: '{"ATOM":{"USD":4.121},"LPT":{"USD":1.885},"KAVA":{"USD":3.905},"KSM":{"USD":11.88},"XTZ":{"USD":3.162},"LUNA":{"USD":0.3484},"IRIS":{"USD":0.06599}}'
  recorded_at: Sat, 08 Aug 2020 11:55:51 GMT
recorded_with: VCR 6.0.0
