<% content_for :body_class, 'homepage' %>

<h3 class='home-title'>
  <span>Welcome to Prime by </span>
  <%= image_tag 'prime/figment-inline.svg', class: 'figment-logo', alt: 'figment.io logo' %>
</h3>
