.e-money-img {
  height: 40px;
  width: 140px;
}
.terra-img {
  width: 128px;
  height: 36px;
}
.oasis-img {
  width: 140px;
}
.livepeer-img {
  height: 40px;
  width: 140px;
}
.kava-img {
  width: 110px;
  height: 32px;
}
.mina-img {
  width: 140px;
}
.cosmos-img {
  width: 134px;
  height: 24px;
}
.iris-img {
  height: 40px;
  width: 127px;
}
.near-img {
  max-width: 140px;
}
.tezos-img {
  height: 40px;
  width: 120px;
}
.polkadot-img {
  max-width: 171px;
}
.celo-img {
  width: 140px;
  height: 40px;
}
.logo-fallback {
  min-height: 40px;
  font-weight: 700;
  font-size: 24px;
}
.logo-fallback.visible {
  display: block;
}
