.navbar {
  background: $figment-yellow;

  .figment-logo {
    display: flex;
    align-items: center;
  }
  .figment-logo__text {
    color: $primary;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
  }

  .figment-logo {
    display: none;
    @include media-breakpoint-up(md) {
      display: inline-block;
    }
  }
  .navbar-nav {
    li.sep {
      display: none;
      @include media-breakpoint-up(md) {
        display: flex;
      }
      align-items: center;
      text-align: center;
      color: $gray-100;
      margin: 0 10px;
    }
  }
}
.navbar__left,
.navbar__right {
  display: flex;
  flex-grow: 1;
  min-width: 20px;
}
.navbar-light .navbar-toggler {
  padding: 0;
  border: none;
}
.link {
  color: $primary;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
}
.link--about {
  width: 56px;
  @include media-breakpoint-up(lg) {
    max-width: 98px;
    width: 100%;
  }
}
